body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 100px;
}

.header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#Logo {
     width: 200px;
}

.Register {
    float: right;
    margin-top: 50px;
    border: 1px solid rgba(253,109,104,1);
    border-radius: 20%;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgba(253,109,104,1);
    font-size: 30px;
}

.Register:hover {
    background-color: rgba(253,109,104,1);
    color: white;
}

.Sign-in {
    float: right;
    text-decoration: none;
    font-family: 'Patua One', cursive;
    font-size: 25px;
    color: #656565;
    margin-top: 60px;
    margin-right: 15px;
}

.Sign-in:hover {
    color: rgba(253,109,104,1);
}

.clear-float {
    clear: both;
}

.Intro {
    text-decoration: none;
}

.heading {
    background-image: linear-gradient( 103.3deg,  rgba(253,109,104,1) 7.7%, rgba(248,150,105,1) 90.8% );
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    box-shadow: 0px 0px 2px rgba(253,109,104,1);
    padding: 20px 0 40px 0;
}

.heading h1 {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 1vw;
    margin: 0 auto;
    width: 95%;
    font-weight: 200;
}

.heading p {
    width: 85%;
    font-size: 1.8vw;
    margin: 0 auto;
    letter-spacing: 0.2vw;
    text-align: center;
}

.heading-selected {
    background-image: linear-gradient( 103.3deg,  rgba(253,109,104,1) 7.7%, rgba(248,150,105,1) 90.8% );
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    box-shadow: 0px 0px 2px rgba(253,109,104,1);
    padding: 20px 0 40px 0;
}

.heading-selected h1 {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 1vw;
    margin: 0 auto;
    width: 95%;
    font-weight: 200;
}

.heading-selected p {
    width: 85%;
    font-size: 1.8vw;
    margin: 0 auto;
    letter-spacing: 0.2vw;
    text-align: center;
}

.heading:hover {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    box-shadow: 2px 2px 8px #8e2de2;
}

@media only screen and (min-width: 1500px) {
    #Logo {
        width: 20%;
    }

    .Register {
        font-size: 2vw;
    }

    .Sign-in {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 500px) {
    #Logo {
        width: 45%;
    }

    .Register {
        margin-top: 12%;
        font-size: 4.5vw;
    }

    .Sign-in {
        margin-top: 13.5%;
        font-size: 4.5vw;
    }
}
