::selection {
  background-color: #a51c30;
  color: white;
}

body {
  cursor: default;
}

.matter {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left-25 {
  float: left;
  width: 25%;
}

.right-73 {
  float: right;
  width: 73%;
}

.no-float {
  clear: both;
}

.side-nav {
  border-bottom-right-radius: 20px;
  background-image: linear-gradient( 160.3deg,  rgba(253,109,104,1) 7.7%, rgba(248,150,105,1) 90.8% );
  height: 100%;
}

.side-nav:hover {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

/* width */
/*.side-nav::-webkit-scrollbar {
  width: 4%;
}*/

/* Track */
/*.side-nav::-webkit-scrollbar-track {
  border-radius: 10px;
}*/

/* Handle */
/*.side-nav::-webkit-scrollbar-thumb {
  background-image: linear-gradient( 70.3deg,  rgba(253,109,104,1) 7.7%, rgba(248,150,105,1) 90.8% );
  border-radius: 10px;
}*/

/* Handle on hover */
/*.side-nav::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0, #8e2de2);
}
*/

.btn-close {
  float: right;
  background-color: #282C34;
  margin: 10px;
  border: 2px solid white;
  font-size: 25px;
  border-radius: 5px;
  color: rgb(250, 250, 250);
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.btn-close:hover {
  border-radius: 20px;
  color: #FD6D68;
  box-shadow: 0px 0px 4px rgb(250, 250, 250);
  color: #FD6D68;
  outline-color: #FD6D68;
}

.btn-close:focus {
  outline-color: #FD6D68;
}

.Sub-topic {
  margin:0 auto;
}

.btn-show {
  display: none;
  float: left;
  background-color: #282C34;
  margin: 10px;
  border: 2px solid white;
  font-size: 25px;
  border-radius: 5px;
  color: rgb(250, 250, 250);
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.btn-show:hover {
  border-radius: 20px;
  color: #68fd6d;
  box-shadow: 0px 0px 4px rgb(250, 250, 250);
  outline-color: #68fd6d;
}

.btn-show:focus {
  outline-color: #68fd6d;
}

.top-nav {
  text-align: center;
  background-image: linear-gradient(to top , rgb(255, 255, 255), rgb(250, 250, 250));
  display: none;
  width: 77%;
  margin-left: -2%;
  box-shadow: 0px 4px 8px #f7f7f7;
}

.top-nav:hover {
  box-shadow: 0px 8px 16px #fedbda;
}

.Unit {
  margin: 5px;
  margin-bottom: 20px;
  background-image: linear-gradient(to top , rgb(255, 255, 255), rgb(250, 250, 250));
}

.Unit p {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    font-size: 2vw;
    border-radius: 20px;
    border: 1px solid #e3e5e6;
}

.Chapter {
  padding: 10px;
}

.Chapter h1 {
  font-family: 'Baloo Paaji 2', cursive;
  text-align: center;
  font-size: 4vw;
  border-bottom: 2px solid #282C34;
}

.Chapter h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 3.5vw;
  padding-top: 20px;
}

.Chapter li {
  padding: 10px;
}

.Chapter p, li {
  font-family: 'Headland One', serif;
  line-height: 200%;
  font-size: 20px;
  text-align: justify;
}

.Chapter hr {
  border: 0.5px solid #282C34;
}

.Course-Structure-Python {
  padding: 5px;
}

.Course-Structure-Python h1{
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  font-size: 4vw;
}

.Python-Basics {
  background-image: linear-gradient(to top , rgb(255, 255, 255), rgb(250, 250, 250));
  padding: 5px;
  border-radius: 15px;
}

.Python-Basics:hover {
  box-shadow: 1px 0px 8px #ebe8e6
}

.Python-Intermediate h1{
  font-size: 3vw;
  font-family: 'Sarina', cursive;
  color: #261c1a;
}

.Python-Intermediate {
  background-image: linear-gradient(to top , rgb(255, 255, 255), rgb(250, 250, 250));
  padding: 5px;
  border-radius: 15px;
  margin: 20px 0;
}

.Python-Intermediate:hover {
  box-shadow: 1px 0px 8px #ebe8e6
}

.Python-Basics h1{
  font-size: 3vw;
  font-family: 'Sarina', cursive;
  color: #261c1a;
}

.Python-Unit {
  padding: 10px;
  border: 2px solid #e3e5e6;
  border-radius: 20px;
  background-image: linear-gradient(to top , rgb(255, 255, 255), rgb(250, 250, 250));
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
  margin-bottom: 20px;
}

.Python-Unit:hover {
  box-shadow: 0px 0px 8px #8e2de2;
    border: 1px solid transparent;
}

.Python-Unit a {
  text-decoration: none;
  color: #261c1a;
}

.Python-Unit p{
  padding: 10px;
  border: 2px solid #e3e5e6;
  border-radius: 20px;
  font-size: 2vw;
}

.Python-Unit p:hover{
  background-image: linear-gradient(to left, #8e2de2, #4a00e0);
  color: white;
  border: 1px solid #8e2de2;
  box-shadow: 0px 0px 8px #8e2de2;
}

@media only screen and (max-width: 780px) {
  .Unit {
    font-size: 3vw;
    padding: 10px;
  }

  .Unit p {
    padding: 10px;
  }
}

@media Only Screen and (max-width: 720px) {
  .side-nav {
    display: none;
  }

  .right-73 {
    width: 100%;
    float: none;
  }

  .btn-show {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .Unit {
    padding-left: 5px;
    padding-right: 5px;
  }

  .Unit p {
    font-weight: bold;
  }

  .Python-Unit {
    padding-left: 5px;
    padding-right: 5px;
  }

  .Python-Unit p {
    font-weight: bold;
  }
}
